<%- include('../header') %>

<section style="height: 100vh; display: flex">
  <div style="width: 60%; padding: 60px; display: flex">
    <a
      style="
        font-size: 100px;
        font-weight: bolder;
        color: rgb(252, 206, 0);
        margin-left: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
    >
      Welcome to Yellow Pages...
    </a>
  </div>
  <div style="width: 40%; display: flex; align-items: center">
    <form
      action="/signup"
      id="signupForm"
      method="POST"
      autocomplete="off"
      class="p-4"
      style="
        border-radius: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(252, 206, 0);
        width: 60%;
        background-color: rgba(255, 255, 0, 0.597);
      "
    >
      <div style="margin-top: 15px; display: flex; justify-content: center">
        <h3 style="font-weight: bold; margin-bottom: 20px">
          Create an Account!
        </h3>
      </div>

      <div class="form-group my-2">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control required"
          placeholder="Enter name"
          name="name"
        />
      </div>
      <div class="form-group my-2">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control required"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="email"
        />
      </div>
      <div class="form-group my-2">
        <label for="exampleInputEmail1">Phone</label>
        <input
          type="text"
          class="form-control required"
          placeholder="Enter phone"
          name="phone"
        />
      </div>
      <div class="form-group my-2">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control required password"
          id="exampleInputPassword1"
          placeholder="Password"
          name="password1"
        />
      </div>

      <div class="form-group my-2">
        <label for="exampleInputPassword1">Reenter password</label>
        <input
          type="password"
          class="form-control required"
          id="exampleInputPassword1"
          placeholder="Password"
          name="password2"
        />
      </div>

      <button type="submit" class="form-btn">Submit</button>

      <div style="margin-top: 15px; display: flex; justify-content: center">
        <small>Already have an accout? <a href="/login">Login</a></small>
      </div>
    </form>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#signupForm").submit(function (event) {
      event.preventDefault();
      var isValid = true;

      $(".error").empty();

      $(this)
        .find(".required")
        .each(function () {
          var $input = $(this);
          if ($input.val() === "") {
            isValid = false;
            $input.after(
              '<div class="error text-danger">' +
                $input.attr("name") +
                " is required.</div>"
            );
          }
        });

      $(this)
        .find(".required")
        .each(function () {
          var $input = $(this);
          if ($input.val().includes(" ")) {
            isValid = false;
            $input.after(
              '<div class="error text-danger">' +
                $input.attr("name") +
                " should not contain white spaces.</div>"
            );
          }
        });

      $(this)
        .find(".email")
        .each(function () {
          var $input = $(this);

          if ($input.val() !== "") {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test($input.val())) {
              isValid = false;
              $input.after(
                '<div class="error text-danger">' +
                  $input.attr("name") +
                  " is not a valid email address.</div>"
              );
            }
          }
        });

      $(this)
        .find(".password")
        .each(function () {
          var $input = $(this);

          if ($input.val() !== "") {
            //var minLength = parseInt($input.attr('minlength'));
            var minLength = 8;
            if ($input.val().length < minLength) {
              isValid = false;
              $input.after(
                '<div class="error text-danger">' +
                  $input.attr("name") +
                  " must be at least " +
                  minLength +
                  " characters long.</div>"
              );
            }
          }
        });

      if (isValid) {
        // Form is valid, submit it
        this.submit();
      }
    });
  });
</script>

<%- include('../footer') %>
